<div class="welcome-page">
    <div class="row page-header">
        <div class="col-sm-10">
            <h1>
                <img class="icon" src="~/icon.jpg">
                Bem vindo ao Portal de Autorização
                @*<small>(build {version})</small>*@
            </h1>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-8">
            <p>
                Acesse aqui o
                <a href="~/.well-known/openid-configuration">discovery document</a>.
            </p>
        </div>
        <div class="col-sm-8">
            <p>
                Entre <a href="~/grants">aqui</a> para gerenciar as permissões efetuadas.
            </p>
        </div>
    </div>
</div>
